.Bio--Container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 42em;
  margin: 0;
}

.Bio {
  flex: 0 1 16em;
  margin: 0 0 2em;

  &:nth-child(even) {
    margin-right: 0;
  }
  &:nth-child(odd) {
    margin-right: 5em;
  }

  h5 {
    font-size: 1.1em;
    font-weight: 700;
  }
}

.Bio--Social {
  margin-top: 2em;
  a {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    text-decoration: none;

    svg {
      width: 1.2em;
      height: 1.2em;
      fill: var(--primary);
      margin-right: 0.5em;
    }
  }
}

@media (max-width: 48em) {
  .Bio--Container {
    flex-direction: column;
  }
  .Bio {
    flex-basis: auto;
    width: 100%;
    max-width: 20em;
    margin: 0 auto 2em !important;
  }
}
