h2 {
  margin: 1em 0 2em;
}

.Services--Container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 50em;
  margin: 0;
}

.Service,
.PostCard {
  flex: 0 1 20em;
  margin: 0 0 em;

  &:nth-child(even) {
    margin-right: 0;
  }
  &:nth-child(odd) {
    margin-right: 4em;
  }

  h5 {
    font-size: 1.1em;
    font-weight: 700;
  }
}

.PostSection--Grid {
  justify-content: flex-start;
}

.PostCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 20em;
  min-height: 20em;
  border: 0;
  box-shadow: none;
}

.PostCard--Content {
  padding: 0;
}

.PostCard--Excerpt {
  margin-top: 2em;
}

@media screen and (min-width: 1281px) {
  .PostCard {
    &:nth-child(even) {
      margin-right: 4em;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .Services--Container {
    flex-direction: column;
  }

  .Service {
    flex-basis: auto;
    width: 100%;
    max-width: 24em;
    margin: 0 auto 2em !important;
  }
}

@media screen and (max-width: 600px) {
  .PostSection--Grid > * {
    width: auto;
    max-width: none;
    margin: 0 0 4rem;
    flex-basis: 100%;
  }
}
