// full desktop, for base 10px = 1rem
html {
  font-size: 62.5%;

  @media screen and (max-width: 450px) {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  @media screen and (max-width: 600px) {
    $map: (
      600px: 8px,
      900px: 9px
    );
    font-size: linear-interpolation($map);
  }

  @media screen and (max-width: 900px) {
    $map: (
      900px: 9px,
      1280px: 10px
    );
    font-size: linear-interpolation($map);
  }

  @media screen and (max-width: 1280px) {
    $map: (
      1280px: 11px,
      1600px: 12px
    );
    font-size: linear-interpolation($map);
  }

  @media screen and (min-width: 1600px) {
    font-size: 82.5%;
  }
}

body {
  font-family: $font-primary;
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
