.PageHeader {
  display: flex;
  align-items: center;
  min-height: 16rem;
  padding: 2rem 0;
  color: white;
  background-color: var(--darkGrey);
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  min-height: 24rem;
}

.PageHeader--Title {
  margin-bottom: 0;
  font-size: 6rem;
}

.PageHeader--Subtitle {
  font-size: 1.8rem;
  font-weight: 400;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
